# Merging datasets of each region for their monthly, daily, hourly and state data

In [1]:
import pandas as pd

## Monthly Averages

#### read and merge

In [2]:
n = pd.read_csv("N_brazil_weather.csv")
ne = pd.read_csv("NE_brazil_weather.csv")
se = pd.read_csv("SE_brazil_weather.csv")
s = pd.read_csv("S_brazil_weather.csv")
cw = pd.read_csv("CW_brazil_weather.csv")

In [3]:
df = pd.concat([n, ne, se, s, cw], ignore_index=True)

#### checking data

In [4]:
df.head()

,date_time,total precipitation (mm),atmospheric pressure at station level (mb),atmospheric pressure max. in the previous hour (mb),atmospheric pressure min. in the previous hour (mb),air temperature - dry bulb (°c),dew point temperature (°c),max. temperature in the previous hour (°c),min. temperature in the previous hour (°c),dew temperature max. in the previous hour (°c),...,relative humidity max. in the previous hour (%),relative humidity min. in the previous hour (%),air relative humidity (%),wind direction (° (gr)),maximum wind gust (m/s),wind speed (m/s),latitude,longitude,height,region
0,2000-05-31,0.104695,1004.306808,1004.613146,1003.995305,26.214554,23.526291,26.723474,25.735446,23.937793,...,88.746479,82.929577,85.922535,177.356808,5.058216,0.947887,-3.103333,-60.016389,61.25,N
1,2000-06-30,0.063687,1004.881704,1005.167039,1004.597765,26.424860,23.183520,26.964944,25.918715,23.603073,...,86.090782,80.276536,83.344972,157.895251,4.777514,1.027095,-3.103333,-60.016389,61.25,N
2,2000-07-31,0.144280,1005.176043,1005.456124,1004.892463,25.800000,22.401615,26.325168,25.299327,22.833782,...,85.314939,79.559892,82.476447,172.919246,5.003499,1.116285,-3.103333,-60.016389,61.25,N
3,2000-08-31,0.079032,1004.761559,1005.058602,1004.470161,26.854973,22.629973,27.413441,26.287769,23.096237,...,82.259409,76.044355,79.155914,148.408602,5.513710,1.063710,-3.103333,-60.016389,61.25,N
4,2000-09-30,0.284148,1003.506074,1003.833037,1003.175852,27.200741,22.734074,27.765333,26.654222,23.204296,...,81.072593,75.084444,78.120000,152.105185,4.058667,1.164000,-3.103333,-60.016389,61.25,N

In [5]:
df.shape

(1248, 21)

In [7]:
df.region.value_counts()

N     252
SE    252
CW    252
S     248
NE    244
Name: region, dtype: int64

#### export to csv

In [8]:
df.to_csv("monthly_averages_brazil.csv", index=False)

## Daily Averages

In [12]:
n = pd.read_csv("N_daily_data.csv")
ne = pd.read_csv("NE_daily_data.csv")
se = pd.read_csv("SE_daily_data.csv")
s = pd.read_csv("S_daily_data.csv")
cw = pd.read_csv("CW_daily_data.csv")

In [13]:
df = pd.concat([n, ne, se, s, cw], ignore_index=True)

In [14]:
df.head()

,date_time,total precipitation (mm),atmospheric pressure at station level (mb),atmospheric pressure max. in the previous hour (mb),atmospheric pressure min. in the previous hour (mb),air temperature - dry bulb (°c),dew point temperature (°c),max. temperature in the previous hour (°c),min. temperature in the previous hour (°c),dew temperature max. in the previous hour (°c),...,relative humidity max. in the previous hour (%),relative humidity min. in the previous hour (%),air relative humidity (%),wind direction (° (gr)),maximum wind gust (m/s),wind speed (m/s),latitude,longitude,height,region
0,2000-05-09,0.000000,1003.066667,1003.133333,1002.633333,27.266667,23.700000,28.866667,27.266667,23.900000,...,81.666667,70.333333,81.333333,193.333333,2.100000,0.333333,-3.103333,-60.016389,61.25,N
1,2000-05-10,0.000000,1005.491667,1005.804167,1005.158333,26.800000,23.679167,27.416667,26.316667,24.333333,...,87.333333,81.541667,84.291667,191.083333,2.329167,0.700000,-3.103333,-60.016389,61.25,N
2,2000-05-11,0.066667,1005.150000,1005.495833,1004.841667,26.875000,23.670833,27.270833,26.420833,24.045833,...,86.041667,80.583333,83.541667,165.250000,5.279167,0.908333,-3.103333,-60.016389,61.25,N
3,2000-05-12,0.175000,1004.100000,1004.420833,1003.745833,25.483333,23.775000,25.850000,25.158333,24.004167,...,92.166667,88.083333,90.250000,277.916667,3.608333,1.245833,-3.103333,-60.016389,61.25,N
4,2000-05-13,0.075000,1004.141667,1004.495833,1003.845833,25.770833,23.650000,26.295833,25.200000,24.075000,...,91.875000,85.666667,88.791667,89.166667,6.504167,1.112500,-3.103333,-60.016389,61.25,N

In [15]:
df.shape

(37941, 21)

In [16]:
df.region.value_counts()

SE    7664
CW    7664
N     7662
S     7526
NE    7425
Name: region, dtype: int64

In [17]:
df.to_csv("daily_averages_brazil.csv", index=False)

## Hourly Averages

In [4]:
n = pd.read_csv("N_hourly_rad.csv")
ne = pd.read_csv("NE_hourly_rad.csv")
se = pd.read_csv("SE_hourly_rad.csv")
s = pd.read_csv("S_hourly_rad.csv")
cw = pd.read_csv("CW_hourly_rad.csv")

In [5]:
df = pd.concat([n, ne, se, s, cw], ignore_index=True)

In [12]:
df.head()

,date_time,total precipitation (mm),atmospheric pressure at station level (mb),atmospheric pressure max. in the previous hour (mb),atmospheric pressure min. in the previous hour (mb),radiation (kj/m2),air temperature - dry bulb (°c),dew point temperature (°c),max. temperature in the previous hour (°c),min. temperature in the previous hour (°c),...,relative humidity max. in the previous hour (%),relative humidity min. in the previous hour (%),air relative humidity (%),wind direction (° (gr)),maximum wind gust (m/s),wind speed (m/s),latitude,longitude,height,region
0,2000-05-09 21:00:00,0.0,1002.6,1002.8,1002.6,386.0,29.4,23.1,29.8,29.4,...,69.0,65.0,69.0,96.0,2.9,0.8,-3.103333,-60.016389,61.25,N
1,2000-05-09 22:00:00,0.0,1002.8,1002.8,1002.5,184.0,26.9,24.1,29.5,26.9,...,85.0,68.0,84.0,184.0,1.9,0.1,-3.103333,-60.016389,61.25,N
14,2000-05-10 11:00:00,0.0,1006.8,1006.8,1006.3,207.0,25.2,24.5,25.2,23.9,...,98.0,96.0,96.0,270.0,1.0,0.3,-3.103333,-60.016389,61.25,N
15,2000-05-10 12:00:00,0.0,1007.7,1007.7,1006.8,745.0,27.1,25.2,27.4,25.2,...,96.0,85.0,89.0,204.0,1.1,0.4,-3.103333,-60.016389,61.25,N
16,2000-05-10 13:00:00,0.0,1008.3,1008.3,1007.8,916.0,28.1,23.8,28.1,26.9,...,91.0,78.0,78.0,64.0,1.5,0.7,-3.103333,-60.016389,61.25,N

In [10]:
df.shape

(747918, 22)

In [9]:
df.dropna(inplace=True)

In [11]:
df.region.value_counts()

SE    162359
NE    156456
S     149588
CW    145226
N     134289
Name: region, dtype: int64

In [13]:
df.to_csv("rad_hourly_averages_brazil.csv", index=False)

## By State

In [24]:
n = pd.read_csv("N_state_data.csv")
ne = pd.read_csv("NE_state_data.csv")
se = pd.read_csv("SE_state_data.csv")
s = pd.read_csv("S_state_data.csv")
cw = pd.read_csv("CW_state_data.csv")

In [25]:
df = pd.concat([n, ne, se, s, cw], ignore_index=True)

In [26]:
df.head()

,state,total precipitation (mm),atmospheric pressure at station level (mb),atmospheric pressure max. in the previous hour (mb),atmospheric pressure min. in the previous hour (mb),air temperature - dry bulb (°c),dew point temperature (°c),max. temperature in the previous hour (°c),min. temperature in the previous hour (°c),dew temperature max. in the previous hour (°c),dew temperature min. in the previous hour (°c),relative humidity max. in the previous hour (%),relative humidity min. in the previous hour (%),air relative humidity (%),wind direction (° (gr)),maximum wind gust (m/s),wind speed (m/s),latitude,longitude,height
0,AC,0.231343,988.177166,988.506868,987.854534,25.249218,21.682155,25.857441,24.681592,22.195915,21.209028,85.120703,79.987826,82.607908,188.208012,3.204889,1.170619,-9.201616,-70.359940,203.097629
1,AM,0.259398,1004.431411,1004.762363,1004.101159,26.722896,22.788134,27.280391,26.200940,23.265558,22.341084,83.227996,78.173670,80.761682,163.199954,2.864103,0.895815,-3.865184,-61.276742,67.148227
2,AP,0.297656,1009.002937,1009.287895,1008.722277,26.335451,22.813641,26.897169,25.809366,23.273701,22.381590,84.657171,80.197635,82.477587,132.714788,4.101474,1.524403,1.916866,-51.478764,29.415322
3,PA,0.232026,996.608117,996.935368,996.286098,26.582511,21.813038,27.166344,26.036604,22.305875,21.353186,79.691681,74.535863,77.167950,135.844040,3.966869,1.377959,-3.581684,-49.837559,129.473683
4,RO,0.251612,979.527369,979.864395,979.201761,25.731981,20.429986,26.354506,25.136960,20.919681,19.958108,78.338214,72.686938,75.551162,165.029314,3.820920,1.475261,-10.981152,-61.787078,278.920252

In [27]:
df.shape

(27, 20)

In [28]:
df.state.value_counts()

AC    1
RN    1
MS    1
GO    1
DF    1
SC    1
RS    1
PR    1
SP    1
RJ    1
MG    1
ES    1
SE    1
PI    1
AM    1
PE    1
PB    1
MA    1
CE    1
BA    1
AL    1
TO    1
RR    1
RO    1
PA    1
AP    1
MT    1
Name: state, dtype: int64

In [29]:
df.to_csv("state_averages_brazil.csv", index=False)